################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNet/AspNetMvcDemo1/.vscode
/DotNet/AspNetMvcDemo1/obj
/DotNet/AspNetWebApiDemo1/.vs
/DotNet/AspNetWebApiDemo1/AspNetWebApiDemo1/bin/Debug/net8.0
/DotNet/AspNetWebApiDemo1/AspNetWebApiDemo1/obj
/DotNet/ContactManager/.vscode
/DotNet/ContactManager/bin/Debug/net8.0
/DotNet/ContactManager/obj
/DotNet/ContactManagerWebApi/.vs/ContactManagerWebApi
/DotNet/ContactManagerWebApi/ContactManagerWebApi/obj
/DotNet/EfDemo1/.vscode
/DotNet/EfDemo1/obj
/DotNet/EfDemo2/.vs
/DotNet/EfDemo2/EfDemo2/obj
/DotNet/GuessTheNumberGame/.vscode
/DotNet/GuessTheNumberGame/bin/Debug/net8.0
/DotNet/GuessTheNumberGame/obj
/DotNet/HelloWorld/bin/Debug/net8.0
/DotNet/HelloWorld/obj/Debug/net8.0
/DotNet/HelloWorld/obj/Release/net8.0
/DotNet/HelloWorld/obj
/DotNet/InterfaceDemo/.vs
/DotNet/InterfaceDemo/.vscode
/DotNet/InterfaceDemo/InterfaceDemo/obj
/DotNet/InterfaceDemo/obj
/DotNet/LinqDemo/.vscode
/DotNet/LinqDemo/bin/Debug/net8.0
/DotNet/LinqDemo/obj
/DotNet/OopLinqDemo/.vscode
/DotNet/OopLinqDemo/bin/Debug/net8.0
/DotNet/OopLinqDemo/obj
/DotNet/PaymentUnitTestingDemo/.vs/PaymentUnitTestingDemo
/DotNet/PaymentUnitTestingDemo/PaymentUnitTestingDemo/bin/Debug/net8.0
/DotNet/PaymentUnitTestingDemo/PaymentUnitTestingDemo/obj
/DotNet/PaymentUnitTestingDemo/PaymentUnitTestingDemoTests/bin
/DotNet/PaymentUnitTestingDemo/PaymentUnitTestingDemoTests/obj
/DotNet/SolidPrinciplesDemo/.vs/SolidPrinciplesDemo
/DotNet/SolidPrinciplesDemo/SolidPrinciplesDemo/bin/Debug/net8.0
/DotNet/SolidPrinciplesDemo/SolidPrinciplesDemo/obj
/DotNet/StringManipulation/.vscode
/DotNet/StringManipulation/bin/Debug/net8.0
/DotNet/StringManipulation/obj
/DotNet/WebApiWithEntityFramework/.vs
/DotNet/WebApiWithEntityFramework/WebApiWithEntityFramework/obj
/Python/__pycache__
/Robot/__pycache__
