#rectangle {
    width: 300px;
    height: 250px;
    background-color: crimson;
}

#my-text {
    color: coral;
}

@media (min-width: 1000px) {
    #rectangle {
        background-color: blue;
    }
    #my-text {
        left: 400px;
        position: relative;
        /* visibility: hidden; */
    }
}

@media print {
    p {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
    #rectangle {
        border: 2px solid black;
    }
}